<mat-toolbar color="primary">
	<span>{{title}}</span>
	<span class="actions">
		<button [matMenuTriggerFor]="belowMenu" mat-button>Actions</button>
		<mat-menu #belowMenu="matMenu" yPosition="below">
			<button (click)="add.emit()" mat-menu-item>Add</button>
			<span *ngIf="hasItemSelected">
				<button (click)="edit.emit()" mat-menu-item>Edit</button>
				<button (click)="delete.emit()" mat-menu-item>Delete</button>
				<button (click)="view.emit()" mat-menu-item>View</button>
			</span>
		</mat-menu>
	</span>
</mat-toolbar>
